#bild4 {
    height: 200px;
    width: 200px;
}

#guidance-container-items{
    display: flex;
    justify-content: space-between;
}

#guidance-text-container{
    padding-left: 30px;
}

@media screen and (max-width: 550px) {

    #guidance-container-items{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #guidance-text-container{
        padding-left: 0;
    }

    #bild4{
        height: auto;
        width: 100%;
        padding: 10px;
        display: block;
    }
}