<!doctype html>
<html lang='de'>

<%- include('../../../partials/de/de-head') %>

<body id="eventListener">

    <%- include('../../../partials/de/de-header') %>

    <main>

        <article>
            <h4>Diese Seite ist leider noch nicht in Deutsch verfügbar.</h4>
        </article>

    </main>

    <%- include('../../../partials/de/de-footer') %>

    <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>