<script type="text/javascript" src="/js/all.js"></script>

<% if (!(typeof url != 'undefined' && url === '/')) { %>
<footer>Copyright <%= new Date().getFullYear(); %> | <a href="/imprint">Imprint</a></footer>
<% } %>

</body>

</html>