<%- include('partials/header'); -%>

<section>
  <div class="container-welcome">

    <div class="container-avatar">
      <img src="/img/prints/avatar1.PNG" />
    </div>

    <h1>Lars Gerber</h1>
    <h2>trainee. hobby programmer. sysadmin.</h2>

    <ul class="social">
      <li>
        <a target="_blank" href="https://github.com/larsgerber" aria-label="Github"><i class="fab fa-github"
            aria-hidden="true"></i></a>
      </li>

      <li>
        <a target="_blank" href="https://www.instagram.com/larsger2/" aria-label="Instagram"><i class="fab fa-instagram"
            aria-hidden="true"></i></a>
      </li>

      <li>
        <a target="_blank" href="https://www.linkedin.com/in/lars-gerber-b78a141ab/" aria-label="LinkedIn"><i class="fab fa-linkedin"
            aria-hidden="true"></i></a>
      </li>
    </ul>

  </div>
</section>

<%- include('partials/footer'); -%>