.image-detailview-container{
    padding: 50px 25px 50px 50px;
}

.text-detailview-container{
    padding: 50px 50px 50px 25px;
}

.all-detailview-container{
    display: flex;
}

.text-detailview-container h2{
    color: var(--special-white);
    font-size: 2rem;
    padding: 0 0 20px 0;
    text-decoration-line: underline;
    text-decoration-color: var(--olive-color)
}

.text-detailview-container p{
    color: var(--special-white);
    font-size: 1.2rem;
}