
.all-impressum-container h2 {
    color: var(--special-white);
    font-size: 2rem;
    padding: 0 0 20px 0;
    text-decoration-line: underline;
    text-decoration-color: var(--olive-color)
}

.text-content-container p{
    color: var(--special-white);
    font-size: 1.2rem;
}

.all-impressum-container {
    padding: 50px 0 0 50px;
    width: 60%;
}

.text-content-container {
    padding-left: 50px;
}