<!doctype html>
<html lang='en'>

<%- include('../../../partials/en/en-head') %>

<body id="eventListener">

    <%- include('../../../partials/en/en-header') %>

    <main>

        <article>
            <h3>Unfortunately this page isn't available in english yet.</h3>
        </article>

    </main>

    <%- include('../../../partials/en/en-footer') %>

    <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>