<!DOCTYPE HTML>
<html xmlns="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>contact | Water Places</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+De+Haviland" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/contactandsendspot.css}"/>
    <link rel="icon" th:href="@{/images/icon/icon.png}">
</head>

<body>

<section id="page">

    <header>
        <div th:replace="~{fragments/frag-logo :: #logo}"></div>
        <div th:replace="~{fragments/frag-navigation :: #navigation}"></div>
    </header>

    <main>

        <div class="all-contact-container">
            <h2>Contact</h2>
            <div class="form-conent-container">
                <form th:action="@{send}" method="post" th:object="${contactForm}">

                    <label for="fname">Vorname:</label>
                    <input th:field = "*{fname}" type="text"  id="fname" name="Vorname" placeholder="Dein Vorname.." required>

                    <label for="lname">Nachname:</label>
                    <input th:field = "*{lname}" type="text" id="lname" name="Nachname" placeholder="Dein Nachname.." required>

                    <label for="email">E-Mail:</label>
                    <input th:field = "*{email}" type="email" id="email" name="Mail" placeholder="Deine E-Mail.." required>

                    <label for="subject">Nachricht:</label>
                    <textarea th:field = "*{subject}" id="subject" name="Nachricht" placeholder="Schreibe etwas.." required></textarea>

                    <input type="Submit" value="Senden">

                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer" th:insert="~{fragments/frag-footer :: footer}"></div>
    </footer>

</section>

</body>

</html>

