<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Water Places</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+De+Haviland" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="icon" th:href="@{/images/icon/icon.png}">
</head>

<body>
    <div class="container">
        <h1>Water Places</h1>
        <a href="/spots" class="btn-findyourspot">FIND YOUR SPOT</a>
    </div>
</body>

</html>
