<script type="text/javascript" src="/js/nav.js"></script>

<% if (typeof url != 'undefined') { %>
<%  if(url === '/contact') { %>
<footer>Copyright 2020</footer>
<% } %>
<% } else {%>
<footer>Copyright 2020</footer>
<% } %>


</body>

</html>