<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/about.css}" />
    <link rel="icon" th:href="@{/images/icons/icon-white-black.png}">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>
    <script th:src="@{/js/javascript.js}"></script>
    <title>Atelier Sidefyn</title>
</head>

<body onresize="closeMenu()">

<section id="page">

    <header th:insert="~{fragments/frag-header :: header}"></header>

    <div id="banner-area">
        <div id="div-btn-toggle-menu">
            <button id="btn-toggle-menu" onclick="showAndHideBurgerMenu()">&#9776;
                <span id="open-close">open</span>
            </button>
        </div>
        <img id="banner" th:src="@{/images/banner.jpg}" alt="Banner">
    </div>

    <main>

        <h1>Über mich</h1>
        <div id="text-container">
            <ul id="text-container-items">
                <li>Als ausgebildete Pädagogin unterrichtete ich 24 Jahre an der Volksschule. Erfahrung von der 1. bis zur 9. Klasse.
                </li>
                <li>1996-2000 Basisausbildung in Transaktionsanalyse SGTA (Ausbildung zur Beraterin/ Supervisorin)
                </li>
                <li>1996-1999 Schulleiterin</li>
                <li>Ausgebildet in der englischen Reitweise, liess ich mich später auch bei diversen Lehrern in der Western-Reitweise ausbilden. (S. Moin, K. Siegrist Queens Ranch)
                </li>
                <li>Reiki 1 & 2</li>
                <li>2001 Grundkurs Kinästhetik:Kreatives Lernen</li>
                <li>2002 Grundkurs Kinästhetik:Infant Handling</li>
                <li>Diverse Kurse im gestalterischen Bereich</li>
                <li>Seit 2010 helfe ich mit beim innovativen Projekt „Seide Schweiz“. www.swiss-silk.ch</li>
                <li>Im April 2013 schloss ich die Ausbildung zur BIO-Bäuerin ab</li>
                <li>Seit ich denken kann, fasziniert mich die Kräuter(heil)kunde, das Wissen über den Menschen (Hirnforschung,Psyche). Besuch div. Vorträge und Selbststudium zu diesen Themen
                </li>
            </ul>
        </div>

    </main>

    <footer th:insert="~{fragments/frag-footer :: footer}"></footer>

</section>

</body>

</html>