<!doctype html>
<html lang='de'>

    <%- include('../../partials/de/de-head') %>

<body id="eventListener">

    <%- include('../../partials/de/de-header') %>

    <main>
        <h3>Diese Seite existiert leider nicht!</h3>
    </main>

    <%- include('../../partials/de/de-footer') %>

    <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>