<!doctype html>
<html lang='de'>

<%- include('../../partials/de/de-head') %>

<body id="eventListener">

    <%- include('../../partials/de/de-header') %>

    <main>

        <section>

            <div class="blog">
                <div class="img-container"><img src="/img/prints/pi-hole.png" alt=""></div>
                <div class="blog-name">
                    <a class="blog-category" href="/de/blog/set-up-pi-hole">Artikel</a>
                    <h2>Pi-hole Projekt einrichten</h2>
                    <div class="details">
                        <p class="author"><span>von</span> Lars Gerber</p>
                        <p class="date"><span>publiziert</span> Mai 31, 2020</p>
                    </div>
                </div>
            </div>

            <div class="blog">
                <div class="img-container"><img src="/img/prints/minecraft.jpg" alt=""></div>
                <div class="blog-name">
                    <a class="blog-category" href="/de/blog/host-your-minecraft-server">Artikel</a>
                    <h2>Minecraft Server hosten</h2>
                    <div class="details">
                        <p class="author"><span>von</span> Lars Gerber</p>
                        <p class="date"><span>publiziert</span> Mai 31, 2020</p>
                    </div>
                </div>
            </div>

            <div class="blog">
                <div class="img-container"><img src="/img/prints/nodejs.png" alt=""></div>
                <div class="blog-name">
                    <a class="blog-category" href="/de/blog/host-your-node-js-project">Artikel</a>
                    <h2>Node.js Projekt hosten</h2>
                    <div class="details">
                        <p class="author"><span>von</span> Lars Gerber</p>
                        <p class="date"><span>publiziert</span> Mai 22, 2020</p>
                    </div>
                </div>
            </div>

            <div class="blog">
                <div class="img-container"><img src="/img/prints/raspberry.jpg" alt=""></div>
                <div class="blog-name">
                    <a class="blog-category" href="/de/blog/become-your-own-webhoster">Artikel</a>
                    <h2>Eigener Webhoster werden</h2>
                    <div class="details">
                        <p class="author"><span>von</span> Lars Gerber</p>
                        <p class="date"><span>publiziert</span> Mai 05, 2020</p>
                    </div>
                </div>
            </div>

        </section>

    </main>

    <%- include('../../partials/de/de-footer') %>

    <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>