<!doctype html>
<html lang='de'>

<%- include('../../partials/de/de-head') %>

<body id="eventListener">

    <%- include('../../partials/de/de-header') %>

    <main>

        <article class="impressum">
            <h1>Impressum</h1>

            <h2>Haftungsausschluss</h2>
            <p>
                Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität,
                Zuverlässigkeit und Vollständigkeit der Informationen.
            </p>

            <p>
                Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem
                Zugriff
                oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung
                oder
                durch technische Störungen entstanden sind, werden ausgeschlossen.
            </p>

            <p> Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das
                gesamte Angebot ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die
                Veröffentlichung
                zeitweise oder endgültig einzustellen.
            </p>


            <h2>Haftungsausschluss für Links</h2>
            <p> Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird
                jegliche
                Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf
                eigene Gefahr des jeweiligen Nutzers.
            </p>


            <h2>Urheberrechte</h2>
            <p> Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser
                Website,
                gehören ausschliesslich Lars Gerber oder den speziell genannten Rechteinhabern. Für die Reproduktion
                jeglicher Elemente ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.
            </p>


            <h2>SVG Icons Ersteller</h2>

            <div>

                <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">
                    <img src="/img/svg/feather.svg">
                    <p>von Pixel perfect</p>
                </a>

                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
                    <img src="/img/svg/user.svg">
                    <p>von Freepik</p>
                </a>

                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
                    <img src="/img/svg/target.svg">
                    <p>von Freepik</p>
                </a>

                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
                    <img src="/img/svg/america.svg">
                    <p>von Freepik</p>
                </a>

                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
                    <img src="/img/svg/germany.svg">
                    <p>von Freepik</p>
                </a>

                <a href="https://www.flaticon.com/authors/those-icons" title="Those Icon">
                    <img src="/img/svg/at.svg">
                    <p>von Those Icons</p>
                </a>

                <a href="https://www.flaticon.com/authors/those-icons" title="Those Icon">
                    <img src="/img/svg/email.svg">
                    <p>von Those Icons</p>
                </a>

                <a href="https://www.flaticon.com/authors/those-icons" title="Those Icon">
                    <img src="/img/svg/favicon.png">
                    <p>von Those Icons</p>
                </a>

            </div>

        </article>

    </main>

    <%- include('../../partials/de/de-footer') %>

    <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>