<!doctype html>
<html lang='de'>

<%- include('../../partials/de/de-head') %>

<body id="eventListener">

    <%- include('../../partials/de/de-header') %>

    <main>

        <article>
            <h1>Wazzup</h1>
            <p>
                Hey, mein Name ist Lars und ich mag es meine Zeit mit <span>Einsen</span> und
                <span>Nullen</span> zu verbringen. In Zukunft werde ich hier in meinem Blog erklären, wie ich es
                geschaft habe, eine eigene Website zu erstellen und zu hosten. Ein paar Artikel findest du
                bereits unter Blog. Falls du Fragen oder Verbesserungsvorschläge hast, kannst du diese gerne über mein
                Formular unter Kontakt einreichen. Blogs die dich in Zukunft erwarten: NodeJS basics, Google Captcha, Domain Emails und vieles mehr.
            </p>
        </article>

    </main>

    <%- include('../../partials/de/de-footer') %>

    <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>