<!doctype html>
<html lang='en'>

    <%- include('../../partials/en/en-head') %>

<body id="eventListener">

    <%- include('../../partials/en/en-header') %>

    <main>
        <h3>This page doesn't exist!</h3>
    </main>

    <%- include('../../partials/en/en-footer') %>

    <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>